<mat-card>
    <div class="container">
      <div class="title-center">A Safer UVa</div>
    </div>
  <img mat-card-image src="assets/images/uva.jpg">
  <mat-card-content>
    <p>
      machine learning course project aiming to promote safety in UVa 
    </p>
  </mat-card-content>
  <mat-card-actions>
    <div fxFlex></div>
    <button color = "primary" mat-raised-button (click)="onLocate()">Crime Prediction</button>
    <button color = "primary" mat-raised-button (click)="onHeatmap()">Crime Heatmap</button>
    <div fxFlex></div>
  </mat-card-actions>
</mat-card>
